root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.{cpp,h,lua,xml}]
indent_size = 4

[**.{.cpp,.h}]
# Options not ubiquitous, but useful
indent_brace_style = K&R
spaces_around_brackets = none
